<div ng-controller="TodoCtrl as todo">
	<h1>My todo list</h1>
	
	<section class="todo-container">
		<ul class="todo-list">
			<li ng-repeat="task in todo.tasksList" ng-class="{'completed': task.completed}">
				<input type="checkbox" ng-checked="task.completed" ng-click="todo.toggleCompleted(task)">
				<span class="task-title">{{task.title}}</span>
				<span class="remove-task" ng-click="todo.removeTask(task)">&times;</span>
			</li>
		</ul>

		<footer>		
			<form class="todo-add-form">
				<input type="checkbox" ng-model="toggleCheckbox" ng-click="todo.toggleCompletedAll(toggleCheckbox)">
				<input type="text" class="new-task-title" ng-model="taskTitle" placeholder="New task title..." autofocus>
				<button class="btn btn-primary" ng-click="todo.addTask(taskTitle)">Add</button>
			</form>

			<div class="task-filters cf">
				<span>{{todo.tasksList.length}} items left</span>
				<ul>
					<li class="active"><a href="#/">All</a></li>
					<li><a href="#/">Active</a></li>
					<li><a href="#/">Completed</a></li>
				</ul>
			</div>
		</footer>

	</section>
</div>
