<div ng-controller="TodoCtrl as todo">
	<h1>My todo list</h1>

	<section class="todo-container">
		<ul class="todo-list">
			<li ng-repeat="task in todo.tasksList | filter: {completed: todo.taskFilter} as visibleTasks" ng-class="{'completed': task.completed}">
				<input type="checkbox" ng-checked="task.completed" ng-click="todo.toggleCompleted(task)">
				<span class="task-title">{{task.title}}</span>
				<span class="remove-task" ng-click="todo.removeTask(task)">&times;</span>
			</li>
		</ul>

		<footer>		
			<form class="todo-add-form">
				<input type="checkbox" ng-model="toggleCheckbox" ng-click="todo.toggleCompletedAll(toggleCheckbox)">
				<input type="text" class="new-task-title" ng-model="taskTitle" placeholder="New task title..." autofocus>
				<button class="btn btn-primary" ng-click="todo.addTask(taskTitle)">Add</button>
			</form>

			<div class="task-filters cf">
				<span>{{visibleTasks.length}} items left</span>
				<ul>
					<li ng-repeat="link in todo.taskFiltersLinks" ng-class="{'active': todo.currentUrl === link.url}">
						<a href="#{{link.url}}">{{link.title}}</a>
					</li>
				</ul>
			</div>
		</footer>

	</section>
</div>
