/* Buttons */

button.btn {
	border: 0;
	cursor: pointer;
}

.btn {
	padding: 6px 12px;
	text-shadow: rgba(0,0,0,0.25);
	display: inline-block;

	transition: all $trans-avg;
}

.btn-primary {
	background: $blue-light;
	color: #fff;
	font-size: 16px;

	&:hover {
		background: $blue-dark;
		color: #fff;
	}
}

.btn-lg {
	font-size: 20px;
	padding: 10px 20px;
}