/* Todo add form */

.todo-add-form {

	input[type="checkbox"] {

	}

	.new-task-title {
		padding: 6px;
		margin-left: 15px;
		width: 344px;
		margin-right: 5px;
		border: 1px solid #cfcfcf;
		transition: border $trans-avg;
	}

	.btn, .new-task-title {
		height: 33px;
		font-size: 14px;
	}
}

/* Responsive */

@media screen and (max-width: 505px) {
	.todo-add-form {
		@include cf();

		input[type="checkbox"] {
			float: left;
			margin-top: 9px;
		}

		.new-task-title {
			width: 87%;
			float: right;
			margin-right: 0;
		}

		.btn {
			display: none;
		}
	}
}