/* Todo list */

.todo-list {
	margin: 0;
	padding: 0;

	li {
		padding: 10px 25px;
		font-weight: 300;
		font-size: 18px;
		position: relative;
		transition: background $trans-avg;

		// Animation 1
		// Scale/zoom in

		@keyframes zoom-in {
			to {
				opacity: 1;
				max-height: 43px;
				padding: 10px 25px;
				transform: scale(1);
			}
		}

		@keyframes zoom-out {
			to {
				opacity: 0;
				max-height: 0;
				padding: 0;
				transform: scale(0);
			}
		}

		&.ng-enter {
			opacity: 0;
			max-height: 0;
			padding: 0;
			transform: scale(0);
		}

		&.ng-enter.ng-enter-active {
			animation: zoom-in .4s forwards;
		}

		&.ng-leave {
			max-height: 43px;
		}

		&.ng-leave.ng-leave-active {
			animation: zoom-out .4s forwards;
		}

		// Animation 2
		// Slide in left

		// @keyframes slide-in-left {
		// 	to {
		// 		opacity: 1;
		// 		max-height: 43px;
		// 		padding: 10px 25px;
		// 		transform: translateX(0);
		// 	}
		// }

		// @keyframes slide-in-right {
		// 	to {
		// 		opacity: 0;
		// 		max-height: 0;
		// 		padding: 0;
		// 		transform: translateX(-50%);
		// 	}
		// }

		// &.ng-enter {
		// 	opacity: 0;
		// 	max-height: 0;
		// 	padding: 0;
		// 	transform: translateX(-50%);
		// }

		// &.ng-enter.ng-enter-active {
		// 	animation: slide-in-left .4s forwards;
		// }

		// &.ng-leave {
		// 	max-height: 43px;
		// }

		// &.ng-leave.ng-leave-active {
		// 	animation: slide-in-right .4s forwards;
		// }

		&.completed {
			.task-title {
				text-decoration: line-through;
				color: $lighter-text;
			}
		}

		&:hover, &.completed {
			background: rgba(0,0,0,0.01);
		}

		&:hover {

			.remove-task {
				visibility: visible;
				opacity: 1;

				&:hover {
					transition: opacity $trans-avg;
					opacity: 0.7;
				}
			}
		}
	}

	.remove-task {
		position: absolute;
		top: 0; right: 25px;

		visibility: hidden;
		opacity: 0;

		cursor: pointer;
		color: #db0000;
		font-size: 30px;
	}

	.task-title {
		margin-left: 15px;
	}
}