/* Variables */

/* Colors */
$blue-light: #1797d4;
$blue-dark: #172d55;
$dark-text: #333;
$lighter-text: #888;

/* Transitions */
$trans-short: .09s;
$trans-avg: .15s;

/* Fonts */
$font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$font-size: 14px;